<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corporis inventore sequi repellendus dolorum voluptate iure, eos, officia accusamus sunt maxime, dignissimos corrupti nam dolor eveniet quae consectetur molestias ea.</p>
    </div>
</div>