<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App, Nodejs And Mongodb!</h1>
    <p class="lead">A simple application to save your notes</p>
    <hr class="my-4">
    <p>
        School of computer and systems engineering (UPTC) (Sogamoso section).
    </p>
    <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Sign In</a>
</div>